.imag1{
    border-radius: 30px;
    height: 190px;
    width: 190px;
}
.imag2{
    margin-left: 18px;
    height: 190px;
    width: 190px;
}
.imag3{
    border-radius: 290px;
    
    height: 190px;
    width: 190px;

    
    
    
    margin-left: 25px;
}
.search-box{
    border-radius: 5px;
    width: 250px;
    font-size: 18px;
    
}
p{
    margin-bottom: 2px;
    
}
.i2
{
    margin-top: 0;
    width: 380px;

}
.li_signup{
    border-color: rgb(221, 52, 52);
    border-width: 3px;
    width: 500px;
    padding: 25px 25px;
    
    background-color:white;
    border-style:solid;
    margin-bottom: 30px;
}
body{
    background-color: antiquewhite;
}

.search2{
    border-radius: 22px;
    border: none;
    width: 510px;
    height: 40px;
    padding-left: 40px;
    font-weight: bold;
    font-size: 18px;

  
    box-shadow: 3px 3px 10px  rgba(0,0,0,0.2);
   

}
.div3{
    display: flex;
    flex-direction: row;
    margin-top: 45px;
    margin-left: 89px;
    background-color: white;
    border-radius: 8px;
    width: 700px;
    padding: 20px 20px 10px 20px;
}
.meon4{
    height: 120px;
    width: 120px;
    border-radius: 64px;
}
.a_c{
    background-color: rgb(22, 118, 227);
    color: white;
    width:380px;
    border-radius: 25px;
    height: 40px;
    border: none;
    
    }
.tweet-button{
    background-color: rgb(20, 124, 215);
    border-radius: 22px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-left: 280px;
    margin-top: 35px;
    width: 100px;
    height: 40px;
    cursor: pointer;
    border: none;

}
.happen_txt{
    padding-top: 20px;
    margin-left: 25px;
    font-size: 20px;
    font-weight: bold;
}
.name_email{
    height: 70px;
    width: 380px;
    border-color: black;
    border-style: solid;
    display: block;

    line-height: 30px;
    background-color: white;
}
input{
    display: block;
    margin:9px 0px 9px 0px;
}
.div4{
    
    background-color: white;
    margin-top: 20px;
    
    display: inline-block;
    border-color: black;
    border-width: 4px;
    border-style: solid;
    padding: 10px 10px ;
    width:450px;
    vertical-align: middle;


}
.Yes-button,.No-button{
    margin: 20px 20px;
    padding-top: 0;
    
   
    margin-top: 15px;
    margin-right: 2px;
    margin-left: 2px;
    width: 70px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 50px;
    
    
}   
.Q_txt{
    width: 190px; 
    display: inline-block;
    margin-right: 10px;
    font-weight:500;
    
    
    


}